.BoughtProdContainer{
    display: flex;
    justify-content: space-between;
    border-bottom: rgb(0, 0, 0) solid;
    margin-top: 1em;
}
.imgAndNameCont{
    display: flex;
    width: 40%;
}
.BoughtProdName{
    width: 20em;
    padding: 2em;
}
.priceQuanSubEraseCont{
    display: flex;
    width: 60%;
}
.priceQuanSubEraseCont div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgproductCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgproductCont img{
    border-radius: 5px;
    height: 6em;
}
.BoughtProdContainer .price{
    width: 25%;
}
.BoughtProdContainer .quantity{
    width: 25%;
}
.BoughtProdContainer .SubTotals{
    width: 25%;
}
.BoughtProdContainer button{
    border: none;
    background-color: red;
    padding: 0.3em 1em;
    border-radius: 5px;
    color: white;
    font-size: 1em;
}
.BoughtProdContainer button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
@media only screen and (max-width: 946px) {
    .BoughtProdName{
    
        padding: 2em 0em;
    }

}
@media only screen and (max-width: 640px) {
    .imgproductCont img{
        height: 4em;
    }
    .BoughtProdName{
        width:20em;
        padding: 0em;
    }
    .imgAndNameCont{
        width: 40%;
    }
    .priceQuanSubEraseCont{
    justify-content: space-between;
    }
    .BoughtProdContainer .price{
        width: 20%;
    }
    .BoughtProdContainer .quantity{
        text-align: center;
        width: 20%;
    }
    .BoughtProdContainer .SubTotals{
        width: 20%;margin-right: 5px;
    }
    }