.NavBarContainer{
    display: flex;
    justify-content: space-between;
    height: 4.8em;
    background-color: black ;
    color: white;
}
.NavBarContainer .logo {
    display: flex;
   background-color: white;
    width: 40%;
    color: black;
    font-size: 2em;
   
}
.NavBarContainer .logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.NavBarContainer .logo img {
    width: 2em;   
    margin-right: 1em;
}
.NavBarContainer .sections{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.NavBarContainer .sections button {
    border: none;
    background-color: inherit;
    font-size: 1.5em;
}
.NavBarContainer a{
    text-decoration: none;
    color: white;
}
.navBarCartAndAmountCont{
    display: flex;
    
}
.navBarCartAndAmountCont p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    margin-top: 0px;
    background-color:rgb(255, 118, 118);
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
.navBarCartAndAmountCont div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
@media only screen and (max-width: 640px) {
    .NavBarContainer{
        height: 5.5em;
    font-size: 0.6em;
    }
}
@media only screen and (max-width: 450px) {
    .NavBarContainer{
    font-size: 0.5em;
    }

}