
.greeting{
    display: flex;
    height: 30em;
    background-color: rgb(230, 230, 230);
}
.Welcome{
    width: 40%;
}
.greeting h1{
    font-size: 5em;
    margin-left: 0.3em;
}
.greeting .descripcion{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    background-image: url(/src/Assets/6AJMTNP6RVDM5HX2HHGO2JNPPQ.jpeg);
    background-repeat: no-repeat;
    background-position:0px;
    background-size: cover;
    text-align: left;
    font-size: 1.5em;
    color: white;

}
.greeting .descripcion p{
  margin-left: 1em;
  width: 95%;
}
.Features{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 9em auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}
.Features > * {
    border: solid rgb(233, 185, 185);
    border-radius: 5px;
    padding: 1em;
}

.Features img{ 
    width: 10em;
}
.shopButton{
    display: flex;
    justify-content: center;
   margin-top: 2em;
   margin-bottom: 5em;
   height: 5em;
}
.shopButton button {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 5em;
    background-color: inherit;
    border: solid black;
    border-radius: 5px;
}
.shopButton button:hover{
    cursor: pointer;
    animation: shopbtnAnim 0.5s  forwards;
}
@keyframes shopbtnAnim{
100%{ transform: scale(1.1);
    border: solid rgb(233, 185, 185);
}
}


@media only screen and (max-width: 1024px) {
    .greeting h1{
        font-size: 4em;
    }
    .Features{
        width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .greeting h1{
        font-size: 3em;
    }
    .Features{
        width: 100%;
    }
  }
  @media only screen and (max-width: 640px) {
    .greeting{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .greeting .descripcion{
        width: 100%;
        height: 15em;
    }
    .Welcome{
        width: 100%;
    }
    .Features{
        margin-top: 1em; 
        margin-bottom: 1em;
           
    }
    .Features div {
        width: 7em;
    }
    .Features div img{
        width: 5em;
    }
  }
  @media only screen and (max-width: 450px) {
    .Features{
        width: 95%;
    }
    .Features div {
        width: 5em;
    }
    .Features div img {
        width: 3em;
    }
    }