.CategoriaContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.CategoriesDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid rgb(168, 168, 168);
    border-radius: 5px;
    padding: 0px 2em;
    margin: 1em 0em;
    height: 3em;
}
.CategoriesDiv h3{
    margin: 0px;
}
.categorieList{
position: absolute;
right: 6em;
background-color: white;
width: 18em;
border: black solid;
}
.categorieList ul{
    list-style: none;
    padding: 0px;
}
.categorieList ul li{
   padding: 1em;
}
.ProductsGrid{
    display: grid;
    grid-gap: 5em;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
padding: 0px 3em;
margin-top: 1em;
}

.ProductsGrid img:hover{
animation: previewImg 1s forwards;
}

@keyframes previewImg{
    100%{ transform: scale(1.1);
    }
}
