.ShoppingCartContainer{
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}
.ShoppingCartContainer .Header {
    display: flex;
    justify-content: space-between;
    height: 5em;
    background-color: lightgray;
    border-radius: 5px;
}
.cartAndcart{
    display: flex;
    justify-content: space-around;
    width: 14em;
    height: 5em;
    
}
.cartAndcart div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartAndcart img {
    width: 2em;
}
.SafeBuy{
    display: flex;
    justify-content: space-around;
width: 14em;
margin: 0px;
padding: 0px;
text-align: center;
}
.SafeBuy div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SafeBuy p{
    margin: 0px;
}
.SafeBuy img{
    width: 2em;
}
.CartAndResume{
    display: flex;
    justify-content: space-around;
}
.priceQuantitySubContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.priceQuantitySubContainer div{
    display: flex;
}
.priceQuantitySub{
    display: flex;
    width: 80%;

}
.priceQuantitySub div {
    width: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 1em;
}
.Productp{
    width: 40%;
}
.ProdcutsInCartAndTotal{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.ProductsInCart{
    width: 100%;
}
.ResumOfTotal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 20em;
    text-align: center;
    background-color: rgb(255, 233, 236);
    border-radius: 5px;
}







@media only screen and (max-width: 946px) {
    .ShoppingCartContainer{
        width: 100%;
    }
}
@media only screen and (max-width: 640px) {
    .priceQuantitySubContainer{
        font-size: 0.9em;
    }
    .ShoppingCartContainer{
        width: 100%;
    }
    
    .CartAndResume{
        width: 100%;
        flex-direction: column;
    }
    .priceQuantitySubContainer{
        width: 100%;
    }
    .priceQuantitySubContainer div{
        display: flex;
    }
    .ProdcutsInCartAndTotal{
        width: 100%;
    }
    .ProductsInCart{
        width: 100%;
    }
    .ResumOfTotal{
        width: 50%;
        margin:  1em auto;
    
    }
    
    
    
    
    
}