.ShoppingCartContainer{
    width: 80%;
    margin: auto;
    margin-top: 1em;
}
.ShoppingCartContainer .Header {
    display: flex;
    justify-content: space-between;
    height: 5em;
    background-color: lightgray;
    border-radius: 5px;
}
.cartAndcart{
    display: flex;
    justify-content: space-around;
    width: 14em;
    height: 5em;
    
}
.cartAndcart div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartAndcart img {
    width: 2em;
}
.SafeBuy{
    display: flex;
    justify-content: space-around;
width: 14em;
margin: 0px;
padding: 0px;
text-align: center;
}
.SafeBuy div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.SafeBuy p{
    margin: 0px;
}
.SafeBuy img{
    width: 2em;
}
.priceQuantitySubContainer{
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.priceQuantitySubContainer div{
    display: flex;
}
.priceQuantitySub{
    display: flex;
    width: 60%;

}
.priceQuantitySub div {
    width: 22%;
}
.Productp{
    width: 20%;
}
.ProdcutsInCartAndTotal{
    display: flex;
    justify-content: space-between;
}
.ProductsInCart{
    width: 75%;
}
.ResumOfTotal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 23%;
    height: 20em;
    margin-left: 1em;
    margin-top: -5em;
    text-align: center;
    background-color: rgb(255, 233, 236);
    border-radius: 5px;
}